.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;

  @include text(rgba($blue, .8), 16px);

  background-color: $white;
  border-radius: $r-30;
  cursor: pointer;

  @include r($mobile) {
    border: 1px solid $blue-light;
    @include text(rgba($blue, .8), 13px);
  };

  &--filter {
    padding: 10px 30px;
    @include text(rgba($blue, .8), 14px);
  }

  &.active {
    background: $blue;
    color: $white;
  }

  svg {
    display: flex;
    width: 12px;
    height: 12px;
  }
}
