.theme-black {
  .tag {
    @include text(rgba(var(--dark-rgb), .8), 16px);
  }
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;

  @include text(rgba(var(--text-color), .8), 16px);

  background-color: var(--bg-color);
  border-radius: $r-30;
  cursor: pointer;

  @include r($mobile) {
    border: 1px solid rgba(var(--text-color), 1);
    @include text(rgba(var(--text-color), .8), 13px);
  };

  &--filter {
    padding: 10px 30px;
    @include text(rgba(var(--text-color), .8), 14px);

    @include r($mobile) {
      padding: 10px 14px;
    }
  }

  &.active {
    background: rgba(var(--text-color), 1);
    color: var(--bg-color);
  }

  svg {
    display: flex;
    width: 12px;
    height: 12px;
  }
}
