<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body class="theme-light">
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--intro" style="--background: url('../assets/images/info-bg.png')">
        <div class="container">
            <div class="intro">
                <div class="breadcrumbs breadcrumbs--intro">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <p class="breadcrumbs__link">Справочная информация</p>
                </div>
                <h1 class="title title--light">
                    справочная информация
                </h1>
                <p class="subtitle">
                    В 2023 году Екатеринбург отпразднует свое 300-летие. Свою историю город отсчитывает с 18 ноября 1723
                    года, когда были запущены цеха крупнейшего в России железоделательного Екатерининского завода.
                </p>
            </div>
        </div>
    </section>
    <section class="section section--gradient pt-90 ptm-30 pb-100 pbm-90">
        <div class="container">
            <div class="grid mb-70 mbm-30">
                <div class="grid__item grid__item--3 grid__item-mob--4">
                    <a href="#" class="article-news article-news--info">
                        <picture class="article-news__picture">
                            <img src="./assets/images/feature-5.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Как быстро находить путь по мху. Там 5 советов
                            </h2>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--3 grid__item-mob--4">
                    <a href="#" class="article-news article-news--info">
                        <picture class="article-news__picture">
                            <img src="./assets/images/feature-5.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Как быстро находить путь по мху. Там 5 советов
                            </h2>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--3 grid__item-mob--4">
                    <a href="#" class="article-news article-news--info">
                        <picture class="article-news__picture">
                            <img src="./assets/images/feature-5.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Как быстро находить путь по мху. Там 5 советов
                            </h2>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--3 grid__item-mob--4">
                    <a href="#" class="article-news article-news--info">
                        <picture class="article-news__picture">
                            <img src="./assets/images/feature-5.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Как быстро находить путь по мху. Там 5 советов
                            </h2>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--3 grid__item-mob--4">
                    <a href="#" class="article-news article-news--info">
                        <picture class="article-news__picture">
                            <img src="./assets/images/feature-5.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Как быстро находить путь по мху. Там 5 советов
                            </h2>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--3 grid__item-mob--4 mob-hidden">
                    <a href="#" class="article-news article-news--info">
                        <picture class="article-news__picture">
                            <img src="./assets/images/feature-5.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Как быстро находить путь по мху. Там 5 советов
                            </h2>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--3 grid__item-mob--4 mob-hidden">
                    <a href="#" class="article-news article-news--info">
                        <picture class="article-news__picture">
                            <img src="./assets/images/feature-5.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Как быстро находить путь по мху. Там 5 советов
                            </h2>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--3 grid__item-mob--4 mob-hidden">
                    <a href="#" class="article-news article-news--info">
                        <picture class="article-news__picture">
                            <img src="./assets/images/feature-5.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Как быстро находить путь по мху. Там 5 советов
                            </h2>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <a href="#" class="button button--mob-wide center">
                <span>Показать больше</span>
                <span class="button__icon">
                    <svg>
                        <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                    </svg>
                </span>
            </a>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
