<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body class="theme-light">
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--intro" style="--background: url('../assets/images/building.png')">
        <div class="container">
            <div class="intro">
                <div class="breadcrumbs breadcrumbs--intro">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <p class="breadcrumbs__link">Гостям</p>
                </div>
                <h1 class="title title--light">
                    Гостям
                </h1>
                <p class="subtitle">
                    В 2023 году Екатеринбург отпразднует свое 300-летие. Свою историю город отсчитывает с 18 ноября 1723
                    года, когда были запущены цеха крупнейшего в России железоделательного Екатерининского завода.
                </p>
            </div>
        </div>
    </section>
    <section class="section section--gradient pt-130 ptm-68 pb-120 pbm-50">
        <div class="container">
            <div class="header-block">
                <h2 class="title">Гостям города</h2>
            </div>
            <div class="grid mob-hidden">
                <div class="grid__item grid__item--4">
                    <a href="#" class="article-guests">
                        <picture class="article-guests__picture">
                            <img src="./assets/images/main-bg-5.png" alt="">
                        </picture>
                        <div class="article-guests__info">
                            <h3 class="article-guests__title">Афиша</h3>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--4">
                    <a href="#" class="article-guests">
                        <picture class="article-guests__picture">
                            <img src="./assets/images/main-bg-5.png" alt="">
                        </picture>
                        <div class="article-guests__info">
                            <h3 class="article-guests__title">Афиша</h3>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--4">
                    <a href="#" class="article-guests">
                        <picture class="article-guests__picture">
                            <img src="./assets/images/main-bg-5.png" alt="">
                        </picture>
                        <div class="article-guests__info">
                            <h3 class="article-guests__title">Афиша</h3>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--6">
                    <a href="#" class="article-guests">
                        <picture class="article-guests__picture">
                            <img src="./assets/images/main-bg-5.png" alt="">
                        </picture>
                        <div class="article-guests__info">
                            <h3 class="article-guests__title">Афиша</h3>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--6">
                    <a href="#" class="article-guests">
                        <picture class="article-guests__picture">
                            <img src="./assets/images/main-bg-5.png" alt="">
                        </picture>
                        <div class="article-guests__info">
                            <h3 class="article-guests__title">Афиша</h3>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--6">
                    <a href="#" class="article-guests">
                        <picture class="article-guests__picture">
                            <img src="./assets/images/main-bg-5.png" alt="">
                        </picture>
                        <div class="article-guests__info">
                            <h3 class="article-guests__title">Афиша</h3>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--6">
                    <a href="#" class="article-guests">
                        <picture class="article-guests__picture">
                            <img src="./assets/images/main-bg-5.png" alt="">
                        </picture>
                        <div class="article-guests__info">
                            <h3 class="article-guests__title">Афиша</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="slider slider--visible slider--auto desktop-hidden" data-slider="enhanced">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="article-guests">
                                <picture class="article-guests__picture">
                                    <img src="./assets/images/main-bg-5.png" alt="">
                                </picture>
                                <div class="article-guests__info">
                                    <h3 class="article-guests__title">Афиша</h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="article-guests">
                                <picture class="article-guests__picture">
                                    <img src="./assets/images/main-bg-5.png" alt="">
                                </picture>
                                <div class="article-guests__info">
                                    <h3 class="article-guests__title">Афиша</h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="article-guests">
                                <picture class="article-guests__picture">
                                    <img src="./assets/images/main-bg-5.png" alt="">
                                </picture>
                                <div class="article-guests__info">
                                    <h3 class="article-guests__title">Афиша</h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="article-guests">
                                <picture class="article-guests__picture">
                                    <img src="./assets/images/main-bg-5.png" alt="">
                                </picture>
                                <div class="article-guests__info">
                                    <h3 class="article-guests__title">Афиша</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--where-stop pt-130 ptm-38 pb-130 pbm-70">
        <div class="container">
            <div class="header-block">
                <h2 class="title">Где остановиться</h2>
                <p class="text">
                    В год 300-летия Екатеринбург с особым размахом<br>
                    проведёт полюбившиеся многим и известные на<br>
                    весь мир флагманские мероприятия города, а также<br>
                    новые уникальные события.
                </p>
            </div>
            <div class="slider slider--auto slider--visible" data-slider="poster">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#"
                               class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                                <picture class="article-news__picture">
                                    <img src="./assets/images/hotel-1.png" alt="">
                                </picture>
                                <div class="article-news__info">
                                    <h2 class="article-news__title">
                                        Отель-гостиница Мегалайт
                                    </h2>
                                    <p class="article-news__place">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                        </svg>
                                        <span>г. Екатеринбург, пер. Мордвинский, пер.1</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"
                               class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                                <picture class="article-news__picture">
                                    <img src="./assets/images/hotel-1.png" alt="">
                                </picture>
                                <div class="article-news__info">
                                    <h2 class="article-news__title">
                                        Отель-гостиница Мегалайт
                                    </h2>
                                    <p class="article-news__place">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                        </svg>
                                        <span>г. Екатеринбург, пер. Мордвинский, пер.1</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"
                               class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                                <picture class="article-news__picture">
                                    <img src="./assets/images/hotel-1.png" alt="">
                                </picture>
                                <div class="article-news__info">
                                    <h2 class="article-news__title">
                                        Отель-гостиница Мегалайт
                                    </h2>
                                    <p class="article-news__place">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                        </svg>
                                        <span>г. Екатеринбург, пер. Мордвинский, пер.1</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"
                               class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                                <picture class="article-news__picture">
                                    <img src="./assets/images/hotel-1.png" alt="">
                                </picture>
                                <div class="article-news__info">
                                    <h2 class="article-news__title">
                                        Отель-гостиница Мегалайт
                                    </h2>
                                    <p class="article-news__place">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                        </svg>
                                        <span>г. Екатеринбург, пер. Мордвинский, пер.1</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"
                               class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                                <picture class="article-news__picture">
                                    <img src="./assets/images/hotel-1.png" alt="">
                                </picture>
                                <div class="article-news__info">
                                    <h2 class="article-news__title">
                                        Отель-гостиница Мегалайт
                                    </h2>
                                    <p class="article-news__place">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                        </svg>
                                        <span>г. Екатеринбург, пер. Мордвинский, пер.1</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-footer">
                        <div class="swiper-control">
                            <button class="swiper-btn swiper-btn--prev">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                            <button class="swiper-btn swiper-btn--next">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <button class="button button--mob-wide">
                            <span>все гостиницы</span>
                            <span class="button__icon">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                            </svg>
                        </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--eat pt-130 ptm-38 pb-130 pbm-70">
        <div class="container">
            <div class="header-block">
                <h2 class="title">Где поесть</h2>
                <p class="text">
                    В год 300-летия Екатеринбург с особым размахом<br>
                    проведёт полюбившиеся многим и известные на<br>
                    весь мир флагманские мероприятия города, а также<br>
                    новые уникальные события.
                </p>
            </div>
            <div class="slider slider--auto slider--visible" data-slider="poster">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#"
                               class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                                <picture class="article-news__picture">
                                    <img src="./assets/images/restaurant-1.png" alt="">
                                </picture>
                                <div class="article-news__info">
                                    <h2 class="article-news__title">
                                        Ресторан Времена года
                                    </h2>
                                    <p class="article-news__place">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                        </svg>
                                        <span>г. Екатеринбург, пер. Мордвинский, пер.1</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"
                               class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                                <picture class="article-news__picture">
                                    <img src="./assets/images/restaurant-2.jpg" alt="">
                                </picture>
                                <div class="article-news__info">
                                    <h2 class="article-news__title">
                                        Ресторан Времена года
                                    </h2>
                                    <p class="article-news__place">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                        </svg>
                                        <span>г. Екатеринбург, пер. Мордвинский, пер.1</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"
                               class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                                <picture class="article-news__picture">
                                    <img src="./assets/images/restaurant-3.png" alt="">
                                </picture>
                                <div class="article-news__info">
                                    <h2 class="article-news__title">
                                        Ресторан Времена года
                                    </h2>
                                    <p class="article-news__place">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                        </svg>
                                        <span>г. Екатеринбург, пер. Мордвинский, пер.1</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"
                               class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                                <picture class="article-news__picture">
                                    <img src="./assets/images/restaurant-1.png" alt="">
                                </picture>
                                <div class="article-news__info">
                                    <h2 class="article-news__title">
                                        Ресторан Времена года
                                    </h2>
                                    <p class="article-news__place">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                        </svg>
                                        <span>г. Екатеринбург, пер. Мордвинский, пер.1</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"
                               class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                                <picture class="article-news__picture">
                                    <img src="./assets/images/restaurant-2.jpg" alt="">
                                </picture>
                                <div class="article-news__info">
                                    <h2 class="article-news__title">
                                        Ресторан Времена года
                                    </h2>
                                    <p class="article-news__place">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                        </svg>
                                        <span>г. Екатеринбург, пер. Мордвинский, пер.1</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-footer">
                        <div class="swiper-control">
                            <button class="swiper-btn swiper-btn--prev">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                            <button class="swiper-btn swiper-btn--next">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <button class="button button--mob-wide">
                            <span>все гостиницы</span>
                            <span class="button__icon">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                            </svg>
                        </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
