.sidebar {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 35px 34px;
  background-color: var(--grey-gradient);
  border-radius: $r-20;

  @include r($mobile) {
    gap: 15px;
    padding: 11px 20px;
    border-radius: 0;
    margin: 0 -20px;
  }

  &--center {
    align-items: center;

    @include r($mobile) {
      align-items: flex-start;
    }

    .sidebar__text,
    .sidebar__head {
      text-align: center;

      @include r($mobile) {
        text-align: left;
      }
    }
  }

  &__head {
    @include text(var(--blue))
  }

  &__text {
    @include text(var(--black), 18px, 300, none, 35px);

    @include r($mobile) {
      @include text(var(--black), 16px, 300, none, 22px);
    }

    a {
      display: flex;
    }
  }
}
