.header {
  --currentColor: #{$white};

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  z-index: 4;
  transition: .2s linear;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &.invert {
    --currentColor: #{$black};
    background: $white;
  }
}

.header.invert {
}

.header-control {
  display: flex;
  align-items: center;
  gap: 10px;

  &__button {
    display: flex;
    cursor: pointer;
    color: var(--currentColor);
    transition: .2s linear;
  }
}
