.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;

  @include r($mobile) {
    display: none;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;

    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #999999;

    &:not(:last-child) {
      &::after {
        content: '';
        display: block;
        width: 14px;
        height: 16px;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTAnIGhlaWdodD0nNScgdmlld0JveD0nMCAwIDEwIDUnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTYuOTE4IDQuMDZDNy4wMTEzMyAzLjgxNzMzIDcuMTE0IDMuNTkzMzMgNy4yMjYgMy4zODhDNy4zMzggMy4xNzMzMyA3LjQ2NCAyLjk3MjY3IDcuNjA0IDIuNzg2SDAuMVYxLjYzOEg3LjYwNEM3LjQ3MzMzIDEuNDUxMzMgNy4zNTIgMS4yNTUzMyA3LjI0IDEuMDVDNy4xMjggMC44MzUzMzMgNy4wMjUzMyAwLjYwNjY2NiA2LjkzMiAwLjM2Mzk5OUg3Ljk5NkM4LjU3NDY3IDEuMDQ1MzMgOS4yMDkzMyAxLjU2MzMzIDkuOSAxLjkxOFYyLjUyQzkuMjA5MzMgMi44NTYgOC41NzQ2NyAzLjM2OTMzIDcuOTk2IDQuMDZINi45MThaJyBmaWxsPScjOTk5OTk5Jy8+PC9zdmc+Cg==");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  span.breadcrumbs__link {
    color: #666666;
  }
}
