section:has(.blockTopRoutes) {
  background-image: none;
  background-color: var(--white);

  @include rmin($mobile + 1) {
    z-index: 1;
  }
}

.blockTopRoutes {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include rmin($mobile + 1) {
    gap: 60px;
    $offset: 20px;
    z-index: 1;

    @for $i from 0 through 100 {
      $pos: $i * 3;

      & > .article-intro-card:nth-child(#{$pos + 2}) {
        transform: translateY($offset);
      }

      & > .article-intro-card:nth-child(#{$pos + 3}) {
        transform: translateY($offset * 2);
      }
    }
  }

  .title {
    span {
      @include r($mobile) {
        color: var(--orange);
      }
    }

    @include rmin($mobile) {
      z-index: 100;
    }
  }

  .text {
    @include r($mobile) {
      font-weight: 250;
    }

    @include rmin($mobile) {
      z-index: 100;
    }
  }

  .article-intro-card {
    @include r($mobile) {
      &:nth-child(1n+4) {
        display: none;
      }
    }
  }

  &__bg {
    grid-column: 2/3;
    grid-row: 1/3;
    z-index: 100;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: -10px;
      bottom: -10px;
      right: 0;
      width: 100vw;
      background-color: var(--white);
      z-index: 100;
    }
  }

  .slider {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include rmin($mobile) {
      display: grid;
      grid-template-columns: 2fr 40px 3fr;
      gap: 0;

      .swiper {
        grid-column: 3/4;
        grid-row: 1/3;
        z-index: 50;

        &-slide {
          max-width: 370px;
        }

        &-control {
          z-index: 100;
          align-items: flex-end;
        }
      }
    }
  }

  .swiper {
    &-control {
      margin-top: 0;

      .slider__btn--disabled {
        opacity: 20%;
      }
    }
  }

  &__decor {
    position: absolute;
    bottom: 0;
    right: 0%;
    z-index: 50;

    width: 90%;
    height: 100%;
  }
}
