section:has(.blockTopRoutes) {
  background-image: none;
  background-color: var(--white);

  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    left: -470px;
    top: 10%;
    width: 597px;
    height: 597px;
    border-radius: 100%;
    border: 100px solid var(--blue);

    @include r($mobile) {
      width: 310px;
      height: 310px;
      border-width: 51px;
      left: -230px;
      top: unset;
      bottom: -20px;
    }
  }
}

.blockTopRoutes {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include rmin($mobile + 1) {
    gap: 60px;
    $offset: 20px;

    @for $i from 0 through 100 {
      $pos: $i * 3;

      & > .article-intro-card:nth-child(#{$pos + 2}) {
        transform: translateY($offset);
      }

      & > .article-intro-card:nth-child(#{$pos + 3}) {
        transform: translateY($offset * 2);
      }
    }
  }

  .title {
    span {
      @include r($mobile) {
        color: var(--orange);
      }
    }

    @include rmin($mobile) {
      z-index: 100;
    }
  }

  .text {
    @include r($mobile) {
      font-weight: 250;
    }

    @include rmin($mobile) {
      z-index: 100;
    }
  }

  .article-intro-card {
    @include r($mobile) {
      &:nth-child(1n+4) {
        display: none;
      }
    }
  }

  .slider {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;

    @include rmin($mobile) {
      display: grid;
      grid-template-columns: auto 60%;
      gap: 40px;
      z-index: 50;

      .swiper {
        width: 370px;
        margin-left: unset;
        margin-right: unset;

        &-slide {
          max-width: 370px;
        }

        &-control {
          margin-top: 0;
          grid-row: 2/3;
          align-items: flex-end;

          .slider__btn--disabled {
            opacity: 20%;
          }
        }
      }
    }

    .swiper {
      &-control {
        margin-top: 0;
        top: unset;
        bottom: 30%;
      }
    }
  }

  &__swiper-wrapper {
    @include rmin($mobile) {
      grid-column: 2/3;
      grid-row: 1/3;
      width: 100vw;
      overflow: hidden;
    }
  }

  &__decor {
    position: absolute;

    bottom: 0;
    left: 0;
    z-index: -1;

    width: auto;
    height: 80%;
    aspect-ratio: 2/1;

    @include r($mobile) {
      height: 50%;
      top: 40px;
      bottom: unset;
    }
  }
}
