@use "sass:math";

// Шрифты
$font-main: "Iset Sans", sans-serif;
$font-amatic: "Amatic SC", sans-serif;

$themes: (
        "light": (
                "text-dark": #000000,
                "dark": #000000,
                "black": #202020,
                "text-black": #202020,
                "grey-border": #3D3A3A,
                "grey-dark": #505050,
                "grey-dark-light": #797979,
                "grey": #B6B6B6,
                "grey-light": #B3B5C3,
                "grey-gradient": #E8F1F7,
                "grey-bg": #F4F8FB,
                "main-bg": #FFFFFF,
                "white": #FFFFFF,
                "red": #E4342E,
                "orange": #FD6524,
                "orange-light": #F39314,
                "yellow": #EFBE00,
                "yellow-2": #F4CE43,
                "yellow-light": #FED431,
                "green": #1AB31E,
                "green-accent": #00B400,
                "green-light": #64AE60,
                "blue": #1AA1E0,
                "blue-light": #48B4E6,
                "purple": #9F5AA7,
                "purple-light": #CFC3DE,
        ),
        "black": (
                "text-dark": #FFFFFF,
                "dark": #000000,
                "black": #202020,
                "text-black": #FFFFFF,
                "grey-border": #3D3A3A,
                "grey-dark": #505050,
                "grey-dark-light": #797979,
                "grey": #B6B6B6,
                "grey-light": #B3B5C3,
                "grey-gradient": #212121,
                "grey-bg": #212121,
                "main-bg": #1C1C1C,
                "white": #FFFFFF,
                "red": #E4342E,
                "orange": #FD6524,
                "orange-light": #F39314,
                "yellow": #EFBE00,
                "yellow-2": #F4CE43,
                "yellow-light": #FED431,
                "green": #1AB31E,
                "green-accent": #00B400,
                "green-light": #64AE60,
                "blue": #1AA1E0,
                "blue-light": #48B4E6,
                "purple": #9F5AA7,
                "purple-light": #CFC3DE,
        )
);

@mixin theme($theme-name) {
  $theme: map-get($themes, $theme-name);

  :root {
    @each $key, $value in $theme {
      --#{$key}: #{$value};
    }
  }
}

@each $theme-name, $theme in $themes {
  .theme-#{$theme-name} {
    @each $key, $value in $theme {
      --#{$key}: #{$value};
      --#{$key}-rgb: #{red($value)}, #{green($value)}, #{blue($value)}
    }
  }
}

@include theme(light);

$r-30: 30px;
$r-20: 20px;
$r-15: 15px;

$mobile: 1199;
$mob-min: 767;

// Миксины
@mixin text($color: var(--black), $size: 14px, $weight: 400, $textTransform: uppercase, $line-height: 100%) {
  font-family: $font-main;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  text-transform: $textTransform;
  color: #{$color};
}

@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content
  }
}

@mixin rmin($width) {
  @media only screen and (min-width: $width+ "px") {
    @content
  }
}

@mixin hov() {
  @media (hover: hover) and (pointer: fine) {
    @content
  }
}

@mixin cover() {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

@mixin coverFull() {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@mixin calc-width($element-width, $container-width) {
  $percent: calc(($element-width / $container-width) * 100);
  width: #{$percent}#{'%'};
}

@mixin calc-max-width($element-width, $container-width) {
  $percent: calc(($element-width / $container-width) * 100);
  max-width: #{$percent}#{'%'};
}

// Генераторы
@mixin order($num) {
  order: $num;
}

@for $i from 1 through 200 {
  .order-#{$i} {
    @include order($i);
  }
}

@mixin order-mob($num) {
  @include r($mobile) {
    order: $num;
  }
}

@for $i from 1 through 200 {
  .order-mob-#{$i} {
    @include order-mob($i);
  }
}

@mixin pt($size) {
  padding-top: math.div($size, 16) * 1rem;
}

@for $i from 1 through 200 {
  .pt-#{$i} {
    @include pt($i);
  }
}

@mixin ptm($size) {
  @include r($mobile) {
    padding-top: math.div($size, 16) * 1rem;
  }
}

@for $i from 0 through 200 {
  .ptm-#{$i} {
    @include ptm($i);
  }
}

@mixin pb($size) {
  padding-bottom: math.div($size, 16) * 1rem;
}

@for $i from 1 through 200 {
  .pb-#{$i} {
    @include pb($i);
  }
}

@mixin pbm($size) {
  @include r($mobile) {
    padding-bottom: math.div($size, 16) * 1rem;
  }
}

@for $i from 0 through 200 {
  .pbm-#{$i} {
    @include pbm($i);
  }
}

@mixin mt($size) {
  margin-top: math.div($size, 16) * 1rem;
}

@for $i from 1 through 200 {
  .mt-#{$i} {
    @include mt($i);
  }
}

@mixin mtm($size) {
  @include r($mobile) {
    margin-top: math.div($size, 16) * 1rem;
  }
}

@for $i from 0 through 200 {
  .mtm-#{$i} {
    @include mtm($i);
  }
}

@mixin mb($size) {
  margin-bottom: math.div($size, 16) * 1rem;
}

@for $i from 1 through 200 {
  .mb-#{$i} {
    @include mb($i);
  }
}

@mixin mbm($size) {
  @include r($mobile) {
    margin-bottom: math.div($size, 16) * 1rem;
  }
}

@for $i from 0 through 200 {
  .mbm-#{$i} {
    @include mbm($i);
  }
}
