.faq {
  --title-color: var(--black);
  --rotate: 0;

  display: flex;
  flex-direction: column;
  gap: 20px;

  &__item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: var(--white);
    border-radius: $r-20;
    box-shadow: 0 20px 50px 0 #8F9AB50D;
    cursor: pointer;

    @include r($mobile) {
      padding: 15px 20px;
    }

    &.active {
      --title-color: var(--blue);
      --rotate: -180deg;

      .faq__content {
        padding-top: 20px;
        height: auto;

        @include r($mobile) {
          padding-top: 10px;
        }
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    svg {
      display: flex;
      width: 16px;
      height: 13px;
      color: var(--blue);
      transform: rotate(var(--rotate));
      transition: .2s linear;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    color: var(--title-color);
    transition: .2s linear;

    @include r($mobile) {
      font-weight: 400;
      font-size: 16px;
    }
  }

  &__content {
    padding-top: 0;
    overflow: hidden;
    height: 0;
    transition: .2s linear;
    cursor: auto;
  }
}
