.article-guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 321px;
    height: 321px;
    overflow: hidden;
    background: linear-gradient(137.4deg, var(--grey-gradient-2) 39.53%, var(--grey-2) 129.4%);

    @include r($mobile) {
      width: 202px;
      height: 202px;
    }

    img {
      @include coverFull();
    }
  }

  &__text {
    @include text(var(--black), 30px, 300, none, 42px);
    text-align: center;

    @include r($mobile) {
      @include text(var(--black), 16px, 300, none, 16px);
    }
  }
}
