.article-attraction {
  --card-color: var(--black);
  --card-color-rgb: var(--black-rgb);

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 520px;
  border-radius: $r-20;
  overflow: hidden;
  transition: .2s linear;

  &:hover {
    box-shadow: 0 4px 4px 0 #00000040;
  }

  @include r($mobile) {
    height: 377px;
  }

  &--red {
    --card-color: var(--red);
    --card-color-rgb: var(--red-rgb);
  }

  &--orange {
    --card-color: var(--orange);
    --card-color-rgb: var(--red-rgb);
  }

  &--purple {
    --card-color: var(--purple);
    --card-color-rgb: var(--purple-rgb);
  }

  &--green {
    --card-color: var(--green);
    --card-color-rgb: var(--green-rgb);
  }

  &--yellow {
    --card-color: var(--yellow);
    --card-color-rgb: var(--yellow-rgb);
  }

  &--blue {
    --card-color: var(--blue);
    --card-color-rgb: var(--blue-rgb);
  }

  &__tags {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px 20px;
    padding: 18px 14px;

    @include r($mobile) {
      padding: 26px 18px;
      gap: 7px 10px;
    }
  }

  &__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 14px;
    @include text(var(--white));
    border-radius: 100px;
    background: rgba(var(--card-color-rgb), .7);
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: $r-20;
    overflow: hidden;

    img {
      @include coverFull();
    }
  }

  &__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 25px;

    padding: 83px 30px 30px;
    min-height: 206px;

    background-color: var(--card-color);
    background-image: url("../assets/images/decor-lines.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 54px, 100% 0, 100% 100%, 0% 100%);
    overflow: hidden;

    @include r($mobile) {
      gap: 12px;
      padding: 56px 20px 21px 30px;
      min-height: 160px;
      clip-path: polygon(0 40px, 100% 0, 100% 100%, 0% 100%);
    }
  }

  &__title {
    font-weight: 400;
    font-size: 26px;
    line-height: 27px;
    color: var(--white);

    @include r($mobile) {
      font-size: 24px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 6px;

    @include text(var(--white));
  }

  &__icon {
    display: flex;
    width: 7px;
    height: 7px;
    transform: rotate(-90deg);
  }
}
