.article-guide {
  padding: 0 60px;

  @include rmin($mobile) {
    padding: 0;
  }

  picture {
    display: block;
    border-radius: 100%;
    overflow: hidden;
    background: linear-gradient(137.4deg, var(--grey-gradient-2) 39.53%, var(--grey-2) 129.4%);

    img {
      aspect-ratio: 1/1;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    text-align: center;

    margin-top: 10px;

    @include rmin($mobile) {
      font-size: 30px;
      line-height: 42px;

      margin-top: 15px;
    }
  }
}
