.article-news {
  --padding: 20px 30px 25px;
  --photo-height: 300px;
  --width: 370px;
  --current-color: var(--black);
  --current-color-rgb: var(--black-rgb);
  --bg: var(--white);
  --line-clamp: 2;

  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--width);
  border-radius: $r-20;
  background-color: var(--bg);
  height: 100%;
  overflow: hidden;

  @include r($mobile) {
    --width: 100%;
    --photo-height: 220px;
    --padding: 23px 26px;
  }

  &--full {
    --padding: 20px 0 20px;
    --photo-height: 200px;
    --bg: transparent;
    --line-clamp: 3;

    .article-news__title {
      color: var(--text-dark);
    }

    @include r($mobile) {
      --padding: 18px 26px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(var(--dark-rgb), .3);
        z-index: 0;
      }
    }

    .article-news__info {
      @include r($mobile) {
        position: absolute;
        justify-content: space-between;
      }
    }

    .article-news__time {
      @include r($mobile) {
        padding: 4px 6px;
        color: var(--current-color);
        border-radius: 100px;
        background-color: var(--white);
      }
    }

    .article-news__tag {
      @include r($mobile) {
        padding: 4px 6px;
        background-color: var(--white);
      }
    }

    .article-news__title {
      @include r($mobile) {
        color: var(--white);
      }
    }

    .show-more {
      @include r($mobile) {
        display: none;
      }
    }
  }

  &--promo {
    --padding: 20px 0 20px;
    --photo-height: 300px;
    --bg: transparent;
    --line-clamp: 3;

    .article-news__title {
      color: var(--text-dark);
    }
  }

  &--attraction {
    --padding: 30px;
    --photo-height: 340px;
    --width: 470px;
    --bg: #F4F8FB;
    --line-clamp: 2;

    @include r($mobile) {
      --padding: 20px 26px;
      --photo-height: 200px;
      --width: 100%;
    }

    .article-news__title {
      @include r($mobile) {
        font-size: 24px;
      }
    }
  }

  &--direction {
    background: none;
    --padding: 20px 0 0;
    border-radius: unset;

    @include rmin($mobile) {
      &:hover .picture-wrapper__more {
        top: 80%;
      }
    }

    .picture-wrapper {
      position: relative;
      border-radius: 20px;
      overflow: hidden;

      picture {
        height: auto;
        aspect-ratio: 328/377;

        @include rmin($mobile) {
          aspect-ratio: 370/301;
        }
      }

      &__more {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 85%;
        z-index: 2;
        background-color: var(--current-color);
        clip-path: polygon(0 0, 100% 70%, 100% 100%, 0 100%);

        display: flex;
        align-items: flex-end;
        gap: 6px;

        padding: 20px;

        text-transform: uppercase;
        font-size: 14px;
        line-height: 9px;
        color: var(--white);
        text-align: end;

        transition: top 0.2s ease;

        @include rmin($mobile) {
          top: 101%;
        }

        svg {
          width: 0.7em;
          height: 0.7em;
          transform: rotate(-90deg);
        }

      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 90%;
        background-color: var(--current-color);
        opacity: 0.5;
        clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
        z-index: 1;

        @include rmin($mobile) {
          top: 87%;
        }
      }
    }
  }

  &--light {
    --bg: var(--white);
  }

  &--max-size {
    --width: 100%;
  }

  &--yellow {
    --current-color: var(--yellow-light);
    --current-color-rgb: var(--yellow-light-rgb);
  }

  &--orange {
    --current-color: var(--orange);
    --current-color-rgb: var(--orange-rgb);
  }

  &--blue {
    --current-color: var(--blue);
    --current-color-rgb: var(--blue-rgb);
  }

  &--green {
    --current-color: var(--green);
    --current-color-rgb: var(--green-rgb);
  }

  &--purple {
    --current-color: var(--purple);
    --current-color-rgb: var(--purple-rgb);
  }

  &__place {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      width: 16px;
      height: 16px;
      color: var(--current-color);
    }

    span {
      @include text(var(--text-black), 14px, 300, none)
    }
  }

  &__decor {
    position: absolute;
    top: -17px;
    right: -93px;
    z-index: 0;
    opacity: .05;
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: var(--photo-height);
    border-radius: $r-20;
    overflow: hidden;

    img {
      @include coverFull();
    }
  }

  &__badges {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__time {
    @include text(var(--grey-light))
  }

  &__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 14px;

    @include text(var(--current-color));

    background-color: rgba(var(--current-color-rgb), .1);
    border-radius: 100px;
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: var(--padding);
    height: 100%;
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(--dark);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp);
    line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical;

    @include r($mobile) {
      font-size: 20px;
    }
  }
}
