@import './container/container';

@import './section/section';
@import './editor/editor';

@import './slider/slider';
@import './grid/grid';
@import './flex/flex';
@import './nav/nav';
@import './intro/intro';
@import './poster/poster';
@import './block-info/block-info';
@import './study/study';
@import './faq/faq';
@import './map-info/map-info';
@import './hotels/hotels';
@import './block-text/block-text';
@import './guides/guides';
@import './block-poster/block-poster';
@import './sidebar/sidebar';
@import './media-block/media-block';

@import './articles/article-intro-card';
@import './articles/article-news';
@import './articles/article-review';
@import './articles/article-history';
@import './articles/article-attraction';
@import './articles/article-guide';
@import './articles/article-organizer';
@import './articles/article-gallery';
