.section {
  &--intro {
    position: relative;
    display: flex;
    min-height: 800px;
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(358.28deg, rgba(0, 0, 0, 0) 1.33%, rgba(0, 0, 0, 0.5) 88.12%),
      linear-gradient(270deg, rgba(0, 0, 0, 0) 17.66%, rgba(0, 0, 0, 0.5) 100%);
      z-index: 0;
      pointer-events: none;
    }
  }

  &--top-page {
    margin-top: -10px;
    padding-top: 0;
    padding-bottom: 70px;

    @include r($mobile) {
      padding-bottom: 30px;
    }
  }
}
