.theme-black {
  .section--logo-bg {
    background-image: url('../assets/images/logo-bg-black.svg');
  }
}

.section {
  position: relative;
  overflow: hidden;

  &--intro {
    position: relative;
    display: flex;
    min-height: 800px;
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include r($mobile) {
      min-height: 640px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(358.28deg, rgba(0, 0, 0, 0) 1.33%, rgba(0, 0, 0, 0.5) 88.12%),
      linear-gradient(270deg, rgba(0, 0, 0, 0) 17.66%, rgba(0, 0, 0, 0.5) 100%);
      z-index: 0;
      pointer-events: none;
    }
  }

  &--picture {
    position: relative;
    display: flex;
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(358.28deg, rgba(0, 0, 0, 0) 1.33%, rgba(0, 0, 0, 0.5) 88.12%),
      linear-gradient(270deg, rgba(0, 0, 0, 0) 17.66%, rgba(0, 0, 0, 0.5) 100%);
      z-index: 0;
      pointer-events: none;
    }
  }

  &--gradient {
    background: linear-gradient(180deg, var(--grey-gradient) 0%, var(--main-bg) 122.38%);
  }

  &--gray {
    background-color: var(--grey-bg);
  }

  &--study {
    background: linear-gradient(0, var(--grey-gradient) 0%, var(--grey-bg) 100%);
  }

  &--promo {
    position: relative;
    display: flex;
    min-height: 437px;
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include r($mobile) {
      min-height: 389px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(358.28deg, rgba(0, 0, 0, 0) 1.33%, rgba(0, 0, 0, 0.5) 88.12%),
      linear-gradient(270deg, rgba(0, 0, 0, 0) 17.66%, rgba(0, 0, 0, 0.5) 100%);
      z-index: 0;
      pointer-events: none;
    }
  }

  &--logo-bg {
    background-image: url('../assets/images/logo-bg.svg');
    background-repeat: no-repeat;
    background-position: left bottom;

    @include r($mobile) {
      background-size: 481px 413px;
      background-position: left -188px top;
    }

    &-center {
      background-position: left center;
    }

    &-top {
      background-position: left top;
    }
  }
}
