.theme-black {
  .section--logo-bg {
    background-image: url('../assets/images/logo-bg-black.svg');
  }
}

.section {
  position: relative;
  overflow: hidden;

  &--intro {
    position: relative;
    display: flex;
    min-height: 800px;
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include r($mobile) {
      min-height: 640px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(358.28deg, rgba(0, 0, 0, 0) 1.33%, rgba(0, 0, 0, 0.5) 88.12%),
      linear-gradient(270deg, rgba(0, 0, 0, 0) 17.66%, rgba(0, 0, 0, 0.5) 100%);
      z-index: 0;
      pointer-events: none;
    }
  }

  &--picture {
    position: relative;
    display: flex;
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(358.28deg, rgba(0, 0, 0, 0) 1.33%, rgba(0, 0, 0, 0.5) 88.12%),
      linear-gradient(270deg, rgba(0, 0, 0, 0) 17.66%, rgba(0, 0, 0, 0.5) 100%);
      z-index: 0;
      pointer-events: none;
    }
  }

  &--gradient {
    background: linear-gradient(180deg, var(--grey-gradient) 0%, var(--main-bg) 122.38%);
  }

  &--gray {
    background-color: var(--grey-bg);
  }

  &--study {
    background-image: url("../assets/images/decor/lesson-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include r($mobile) {
      background-image: url("../assets/images/decor/lesson-bg-mob.svg");
    }
  }

  &--hotels {
    background-image: url("../assets/images/decor/hotel-bg.svg");
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;

    @include r($mobile) {
      background: none;
    }
  }

  &--festival {
    background-image: url("../assets/images/decor/festival-video-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include r($mobile) {
      background-image: url("../assets/images/decor/festival-video-bg-mob.svg");
    }
  }

  &--guides {
    background-image: url("../assets/images/decor/guides-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include r($mobile) {
      background-image: url("../assets/images/decor/guides-bg-mob.svg");
    }
  }

  &--tourism {
    background-image: url("../assets/images/decor/tourism-1-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include r($mobile) {
      background-image: none;
    }
  }

  &--routes {
    background-image: url("../assets/images/decor/directions-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include r($mobile) {
      background-image: url("../assets/images/decor/directions-bg-mob.svg");
    }
  }

  &--pick-route {
    background-image: url("../assets/images/decor/bg-3.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include r($mobile) {
      background-image: none;
    }
  }

  &--attraction {
    background-image: url("../assets/images/decor/bg-1.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include r($mobile) {
      background-image: none;
    }
  }

  &--eat {
    background-image: url("../assets/images/decor/bg-4.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include r($mobile) {
      background-image: none;
    }
  }

  &--where-stop {
    background-image: url("../assets/images/decor/bg-2.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include r($mobile) {
      background-image: none;
    }
  }

  &--routes-self {
    background-image: url("../assets/images/decor/directions-self-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include r($mobile) {
      background-image: url("../assets/images/decor/directions-self-bg-mob.svg");
    }
  }

  &--promo {
    position: relative;
    display: flex;
    min-height: 437px;
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include r($mobile) {
      min-height: 389px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(358.28deg, rgba(0, 0, 0, 0) 1.33%, rgba(0, 0, 0, 0.5) 88.12%),
      linear-gradient(270deg, rgba(0, 0, 0, 0) 17.66%, rgba(0, 0, 0, 0.5) 100%);
      z-index: 0;
      pointer-events: none;
    }
  }

  &--logo-bg {
    background-image: url('../assets/images/logo-bg.svg');
    background-repeat: no-repeat;
    background-position: left bottom;

    @include r($mobile) {
      background-size: 481px 413px;
      background-position: left -188px top;
    }

    &-center {
      background-position: left center;
    }

    &-top {
      background-position: left top;
    }
  }
}
