.nav {
  display: flex;

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__item {
    display: flex;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 4px;

    @include text(var(--currentColor));
    transition: .2s linear;
  }

  &__icon {
    width: 7px;
    height: 7px;
  }
}
