.blockTopRoutes--forSelf {
  &__decor {
    position: absolute;
    color: var(--white);

    bottom: -90%;
    left: -30%;
    z-index: -1;

    width: auto;
    height: 200%;
    aspect-ratio: 1/1;
    transform: rotate(-45deg);
  }
}
