.blockPickYourRoute {
  display: flex;
  flex-direction: column;

  .article-intro-card {
    @include r($mobile) {
      &:nth-child(1n+4) {
        display: none;
      }
    }
  }

  &__decor {
    img {
      z-index: 2;
    }
  }
}
