<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body class="theme-light">
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--intro" style="--background: url('../assets/images/main-bg-5.png')">
        <div class="container">
            <div class="intro">
                <div class="breadcrumbs breadcrumbs--intro">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <a href="#" class="breadcrumbs__link">Полезное для туризма</a>
                    <p class="breadcrumbs__link">Основные направления для туризма в Екатеринбурге</p>
                </div>
                <h1 class="title title--light">
                    Основные направления
                    для туризма в Екатеринбурге
                </h1>
                <p class="subtitle">
                    В 2023 году Екатеринбург отпразднует свое 300-летие. Свою историю город отсчитывает с 18 ноября 1723
                    года, когда были запущены цеха крупнейшего в России железоделательного Екатерининского завода.
                </p>
            </div>
        </div>
    </section>
    <section class="section pt-130 pb-90">
        <div class="container">
            <div class="longrid">
                <div class="editor editor--longrid">
                    <h2>
                        Основные направления<br>
                        для туризма в Екатеринбурге
                    </h2>
                    <p>
                        В 2022 году в муниципальном образовании «город Екатеринбург» в рамках подготовки к празднованию
                        300-летия основания Екатеринбурга реализуется мероприятие «Благоустройство Исторического сквера» с
                        привлечением средств областного бюджета в рамках предоставления иного межбюджетного трансферта.<br>
                        <br>
                        Сквер был возведен в 1973 году в честь 250-летия Екатеринбурга, но за это время некоторые элементы
                        пришли в негодность и возникла потребность в проведении их обновления. Накануне 300-летия города
                        Администрация Екатеринбурга и правительство Свердловской области приняли решение о выделении средств
                        на эти цели.
                    </p>
                </div>
                <div class="video">
                    <video poster="./assets/images/video-preview.jpg" preload="auto" controls playsinline>
                        <source src="./assets/images/temp.mp4" type='video/mp4;'>
                    </video>
                </div>
                <div class="editor editor--longrid">
                    <p>
                        В 2022 году в муниципальном образовании «город Екатеринбург» в рамках подготовки к празднованию
                        300-летия основания Екатеринбурга реализуется мероприятие «Благоустройство Исторического сквера» с
                        привлечением средств областного бюджета в рамках предоставления иного межбюджетного трансферта.<br>
                        <br>
                        Сквер был возведен в 1973 году в честь 250-летия Екатеринбурга, но за это время некоторые элементы
                        пришли в негодность и возникла потребность в проведении их обновления. Накануне 300-летия города
                        Администрация Екатеринбурга и правительство Свердловской области приняли решение о выделении средств
                        на эти цели.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <%= htmlWebpackPlugin.options.widgets.blockFeature %>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
