.grid {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;

  @for $i from 1 through 12 {
    .grid__item--#{$i} {
      grid-column: span $i;
    }
  }
}
