<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body class="theme-light">
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--intro" style="--background: url('../assets/images/city.png')">
        <div class="container">
            <div class="breadcrumbs breadcrumbs--intro">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <p class="breadcrumbs__link">Город развивается</p>
            </div>
            <div class="intro">
                <h1 class="title title--light">
                    Город развивается
                </h1>
                <p class="subtitle">
                    В 2023 году Екатеринбург отпразднует свое 300-летие. Свою историю город отсчитывает с 18 ноября 1723
                    года, когда были запущены цеха крупнейшего в России железоделательного Екатерининского завода.
                </p>
            </div>
        </div>
    </section>
    <section class="section section--logo-bg section--logo-bg-center pt-130 ptm-70 pb-100 pbm-25">
        <div class="container">
            <div class="block-info">
                <div class="grid">
                    <div class="grid__item grid__item--6 mob-hidden"></div>
                    <div class="grid__item grid__item--6 grid__item-mob--4">
                        <h2 class="block-info__title">
                            Главное второй подзаголовок
                        </h2>
                    </div>
                </div>
                <div class="grid">
                    <div class="grid__item grid__item--6 grid__item-mob--4">
                        <picture class="block-info__picture">
                            <img src="./assets/images/city-2.jpg" alt="">
                        </picture>
                    </div>
                    <div class="grid__item grid__item--6 grid__item-mob--4">
                        <p class="block-info__text text">
                            Екатеринбург готовится и живет предвкушением 300-летия. От юбилейного сезона масштабных городских
                            фестивалей, выставочных проектов и театральных премьер до традиционных торжественных мероприятий по
                            случаю круглой даты и кульминационных гала-событий.<br>
                            <br>
                            Яркие мероприятия пройдут во всех районах города. А точкой кристаллизации станет Исторический цент
                            города. Симфонические концерты, театральные представления, анимационные программы, спектакли,
                            спортивная программа, мультимедийные инсталляции ожидают гостей.<br>
                            <br>
                            300-летие – это повод вовлечь каждого жителя города в подготовку к празднованию и рассказать миру об
                            истории и героях, об интеллектуальном наследии Екатеринбурга и вкладе в глобальное развитие.<br>
                            <br>
                            Приглашаем отпраздновать 300-летие Екатеринбурга вместе! Для жителей других городов и стран –
                            отличная возможность побывать здесь впервые. Для тех, кто бывал здесь раньше – повод вернуться. Ну а
                            для екатеринбуржцев – просто большая радость и гордость. 300-летие Екатеринбурга – праздник для
                            всех!
                        </p>
                        <p class="block-info__more text">
                            <span>Рзвернуть</span>
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                            </svg>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-40 ptm-70 pb-70 pbm-25">
        <div class="container">
            <div class="block-info">
                <div class="grid">
                    <div class="grid__item grid__item--6 grid__item-mob--4">
                        <h2 class="block-info__title">
                            Город для тебя
                        </h2>
                    </div>
                    <div class="grid__item grid__item--6 mob-hidden"></div>
                </div>
                <div class="grid">
                    <div class="grid__item grid__item--6 grid__item-mob--4">
                        <p class="block-info__text text">
                            Екатеринбург готовится и живет предвкушением 300-летия. От юбилейного сезона масштабных городских
                            фестивалей, выставочных проектов и театральных премьер до традиционных торжественных мероприятий по
                            случаю круглой даты и кульминационных гала-событий.<br>
                            <br>
                            Яркие мероприятия пройдут во всех районах города. А точкой кристаллизации станет Исторический цент
                            города. Симфонические концерты, театральные представления, анимационные программы, спектакли,
                            спортивная программа, мультимедийные инсталляции ожидают гостей.<br>
                            <br>
                            300-летие – это повод вовлечь каждого жителя города в подготовку к празднованию и рассказать миру об
                            истории и героях, об интеллектуальном наследии Екатеринбурга и вкладе в глобальное развитие.<br>
                            <br>
                            Приглашаем отпраздновать 300-летие Екатеринбурга вместе! Для жителей других городов и стран –
                            отличная возможность побывать здесь впервые. Для тех, кто бывал здесь раньше – повод вернуться. Ну а
                            для екатеринбуржцев – просто большая радость и гордость. 300-летие Екатеринбурга – праздник для
                            всех!
                        </p>
                        <p class="block-info__more text">
                            <span>Рзвернуть</span>
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                            </svg>
                        </p>
                        <a href="#" class="block-info__button button">
                            <span>Подробнее</span>
                            <span class="button__icon">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="grid__item grid__item--6 grid__item-mob--4">
                        <picture class="block-info__picture">
                            <img src="./assets/images/city-2.jpg" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%= htmlWebpackPlugin.options.widgets.blockStudy %>
    <section class="section section--gradient pt-130 ptm-38 pb-130 pbm-70">
        <div class="container">
            <div class="header-block">
                <h2 class="title title--big">Проекты благоустройста</h2>
                <a href="#" class="button">
                    <span>Больше проектов</span>
                    <span class="button__icon">
                        <svg>
                            <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                        </svg>
                    </span>
                </a>
            </div>
            <div class="grid">
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-1.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Стела «Город трудовой доблести»
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-2.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Благоустройство Исторического сквера
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-3.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Парные бюсты Петра I
                                и Екатерины I
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--gradient pt-130 ptm-38 pb-130 pbm-70">
        <div class="container">
            <div class="header-block">
                <h2 class="title title--big">Инфраструктурные проекты</h2>
                <a href="#" class="button">
                    <span>Больше проектов</span>
                    <span class="button__icon">
                        <svg>
                            <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                        </svg>
                    </span>
                </a>
            </div>
            <div class="grid">
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-1.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Стела «Город трудовой доблести»
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-2.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Благоустройство Исторического сквера
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-3.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Парные бюсты Петра I
                                и Екатерины I
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--gradient pt-130 ptm-38 pb-130 pbm-70">
        <div class="container">
            <div class="header-block">
                <h2 class="title title--big">Реставрация</h2>
                <a href="#" class="button">
                    <span>Больше проектов</span>
                    <span class="button__icon">
                        <svg>
                            <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                        </svg>
                    </span>
                </a>
            </div>
            <div class="grid">
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-1.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Стела «Город трудовой доблести»
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-2.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Благоустройство Исторического сквера
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-3.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Парные бюсты Петра I
                                и Екатерины I
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
