.poster {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 87px;

  @include r($mobile) {
    gap: 24px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    @include r($mobile) {
      gap: 26px;
    }
  }
}
