.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 14px 22px;
  border: 1px solid var(--grey-border);

  &__input {
    display: flex;
    flex-grow: 1;

    @include text(var(--white), 14px, 300, none);

    &::placeholder {
      color: var(--grey-border);
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  &__button {
    display: flex;
    flex-shrink: 0;
    width: 21px;
    height: 21px;
    cursor: pointer;
    color: var(--white);
  }

  &__icon {
    width: 21px;
    height: 21px;
  }
}
